# üßæ  Ecommerce Purchase Data Analysis
**Author:** Masudur Rahman 
**Tools:** Python, Pandas

In this Ecommerce data project, I applied foundational Pandas skills to clean, transform, and analyze the dataset. Key techniques include:

- Using conditional filtering and lambda functions for data manipulation  
- Extracting year information from date columns  
- Parsing email addresses to isolate domain parts (text after '@')  
- Extracting job title keywords using string methods  
- Retrieving detailed information of specific individuals based on conditions  

This notebook demonstrates practical data wrangling and exploration using Pandas.

## üìÅImporting dataset

In [1]:
import pandas as pd

## üìÇLoading the Dataset

In [2]:
data = pd.read_csv(r"C:\Users\MASUDUR RAHMAN\DATA_SCIENCE_PROJECTS\PANDAS PROJECTS\Ecommerce Purchases")

## üîçDataset Audit (Overview / Info / Check)

In [3]:
data.head()

,Address,Lot,AM or PM,Browser Info,Company,Credit Card,CC Exp Date,CC Security Code,CC Provider,Email,Job,IP Address,Language,Purchase Price
0,"16629 Pace Camp Apt. 448\nAlexisborough, NE 77...",46 in,PM,Opera/9.56.(X11; Linux x86_64; sl-SI) Presto/2...,Martinez-Herman,6011929061123406,02/20,900,JCB 16 digit,pdunlap@yahoo.com,"Scientist, product/process development",149.146.147.205,el,98.14
1,"9374 Jasmine Spurs Suite 508\nSouth John, TN 8...",28 rn,PM,Opera/8.93.(Windows 98; Win 9x 4.90; en-US) Pr...,"Fletcher, Richards and Whitaker",3337758169645356,11/18,561,Mastercard,anthony41@reed.com,Drilling engineer,15.160.41.51,fr,70.73
2,Unit 0065 Box 5052\nDPO AP 27450,94 vE,PM,Mozilla/5.0 (compatible; MSIE 9.0; Windows NT ...,"Simpson, Williams and Pham",675957666125,08/19,699,JCB 16 digit,amymiller@morales-harrison.com,Customer service manager,132.207.160.22,de,0.95
3,"7780 Julia Fords\nNew Stacy, WA 45798",36 vm,PM,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_8_0 ...,"Williams, Marshall and Buchanan",6011578504430710,02/24,384,Discover,brent16@olson-robinson.info,Drilling engineer,30.250.74.19,es,78.04
4,"23012 Munoz Drive Suite 337\nNew Cynthia, TX 5...",20 IE,AM,Opera/9.58.(X11; Linux x86_64; it-IT) Presto/2...,"Brown, Watson and Andrews",6011456623207998,10/25,678,Diners Club / Carte Blanche,christopherwright@gmail.com,Fine artist,24.140.33.94,es,77.82

In [4]:
print(data.columns)
print('Number of columns: ',len(data.columns))
print('Number of rows: ', data.shape[0])

Index(['Address', 'Lot', 'AM or PM', 'Browser Info', 'Company', 'Credit Card',
       'CC Exp Date', 'CC Security Code', 'CC Provider', 'Email', 'Job',
       'IP Address', 'Language', 'Purchase Price'],
      dtype='object')
Number of columns:  14
Number of rows:  10000

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Address           10000 non-null  object
 1   Lot               10000 non-null  object
 2   AM or PM          10000 non-null  object
 3   Browser Info      10000 non-null  object
 4   Company           10000 non-null  object
 5   Credit Card       10000 non-null  int64
 6   CC Exp Date       10000 non-null  object
 7   CC Security Code  10000 non-null  int64
 8   CC Provider       10000 non-null  object
 9   Email             10000 non-null  object
 10  Job               10000 non-null  object
 11  IP Address        10000 non-null  object
 12  Language          10000 non-null  object
 13  Purchase Price    10000 non-null  float64
dtypes: float64(1), int64(2), object(11)
memory usage: 1.1+ MB

In [6]:
data.isnull().sum
# There is no null value in this dataset!

<bound method DataFrame.sum of       Address    Lot  AM or PM  Browser Info  Company  Credit Card  \
0       False  False     False         False    False        False
1       False  False     False         False    False        False
2       False  False     False         False    False        False
3       False  False     False         False    False        False
4       False  False     False         False    False        False
...       ...    ...       ...           ...      ...          ...
9995    False  False     False         False    False        False
9996    False  False     False         False    False        False
9997    False  False     False         False    False        False
9998    False  False     False         False    False        False
9999    False  False     False         False    False        False

      CC Exp Date  CC Security Code  CC Provider  Email    Job  IP Address  \
0           False             False        False  False  False       False
1           False             False        False  False  False       False
2           False             False        False  False  False       False
3           False             False        False  False  False       False
4           False             False        False  False  False       False
...           ...               ...          ...    ...    ...         ...
9995        False             False        False  False  False       False
9996        False             False        False  False  False       False
9997        False             False        False  False  False       False
9998        False             False        False  False  False       False
9999        False             False        False  False  False       False

      Language  Purchase Price
0        False           False
1        False           False
2        False           False
3        False           False
4        False           False
...        ...             ...
9995     False           False
9996     False           False
9997     False           False
9998     False           False
9999     False           False

[10000 rows x 14 columns]>

# Solving Questions from datasetsüß†

## Q1 : What are the average, highest and lowest purchase price?

In [7]:
print('The average purchase price: ', data['Purchase Price'].mean())
print('The highest purchase price: ', data['Purchase Price'].max())
print('The lowest purchase price: ', data['Purchase Price'].min())

The average purchase price:  50.347302
The highest purchase price:  99.99
The lowest purchase price:  0.0

## Q2 : How many people have English ('en') as their language of choice on the website?

In [8]:
data['Language'].value_counts()

Language
de    1155
ru    1155
el    1137
pt    1118
en    1098
fr    1097
es    1095
it    1086
zh    1059
Name: count, dtype: int64

In [9]:
#findout the number of people have chosen English
len(data[data['Language']== 'en'])

1098

In [10]:
# Let's try the percentage value
percn_english = len(data[data['Language']== 'en']) / data.shape[0]  * 100
print(round(percn_english,2), '% of total people have English as their language of choice on this website ')

10.98 % of total people have English as their language of choice on this website

## Q3: How many job titles contain the word ‚Äúmanager‚Äù? Give the IP Adress of the person with this job title who has the highest purchases.

In [11]:
data.columns

Index(['Address', 'Lot', 'AM or PM', 'Browser Info', 'Company', 'Credit Card',
       'CC Exp Date', 'CC Security Code', 'CC Provider', 'Email', 'Job',
       'IP Address', 'Language', 'Purchase Price'],
      dtype='object')

In [12]:
# How many job titles
len(data[data['Job'].str.contains('manager', case = False )])

785

In [13]:
#the person with this job title who has the highest purchases.
data[data['Job'].str.contains('manager', case = False)].sort_values('Purchase Price', ascending = False).iloc[0]['IP Address']

'161.162.101.178'

## Q4: Find Email of the person with the following IP Address :  29.73.197.114

In [14]:
data[data['IP Address']== '29.73.197.114']['Email']

9995    iscott@wade-garner.com
Name: Email, dtype: object

## Q5 : How many people have 'JCB 16 digit' as their Credit Card provider and made a purchase above 40 ?

In [15]:
data['CC Provider'].value_counts()

CC Provider
JCB 16 digit                   1716
VISA 16 digit                  1715
JCB 15 digit                    868
American Express                849
Maestro                         846
Voyager                         829
Discover                        817
Mastercard                      816
VISA 13 digit                   777
Diners Club / Carte Blanche     767
Name: count, dtype: int64

In [16]:
len(data[(data['CC Provider'] == 'JCB 16 digit') & (data['Purchase Price'] > 40)])

1005

## Q6 : How many people have a Credit Card that expires in 2020?

In [17]:
data.columns

Index(['Address', 'Lot', 'AM or PM', 'Browser Info', 'Company', 'Credit Card',
       'CC Exp Date', 'CC Security Code', 'CC Provider', 'Email', 'Job',
       'IP Address', 'Language', 'Purchase Price'],
      dtype='object')

In [18]:
data.head(3)

,Address,Lot,AM or PM,Browser Info,Company,Credit Card,CC Exp Date,CC Security Code,CC Provider,Email,Job,IP Address,Language,Purchase Price
0,"16629 Pace Camp Apt. 448\nAlexisborough, NE 77...",46 in,PM,Opera/9.56.(X11; Linux x86_64; sl-SI) Presto/2...,Martinez-Herman,6011929061123406,02/20,900,JCB 16 digit,pdunlap@yahoo.com,"Scientist, product/process development",149.146.147.205,el,98.14
1,"9374 Jasmine Spurs Suite 508\nSouth John, TN 8...",28 rn,PM,Opera/8.93.(Windows 98; Win 9x 4.90; en-US) Pr...,"Fletcher, Richards and Whitaker",3337758169645356,11/18,561,Mastercard,anthony41@reed.com,Drilling engineer,15.160.41.51,fr,70.73
2,Unit 0065 Box 5052\nDPO AP 27450,94 vE,PM,Mozilla/5.0 (compatible; MSIE 9.0; Windows NT ...,"Simpson, Williams and Pham",675957666125,08/19,699,JCB 16 digit,amymiller@morales-harrison.com,Customer service manager,132.207.160.22,de,0.95

In [19]:
#using lambda method
len(data[data['CC Exp Date'].apply( lambda x:x[3:] == '20')])

988

## Q7 : Top 5 most populer Email providers(e.g. gmail.com, yahoo.com etc...)

In [20]:
data['Email']

0                    pdunlap@yahoo.com
1                   anthony41@reed.com
2       amymiller@morales-harrison.com
3          brent16@olson-robinson.info
4          christopherwright@gmail.com
                     ...
9995            iscott@wade-garner.com
9996                mary85@hotmail.com
9997                 tyler16@gmail.com
9998           elizabethmoore@reid.net
9999             rachelford@vaughn.com
Name: Email, Length: 10000, dtype: object

In [21]:
data['Email'].apply(lambda x:x.split('@')[1]).value_counts().head(5)

Email
hotmail.com     1638
yahoo.com       1616
gmail.com       1605
smith.com         42
williams.com      37
Name: count, dtype: int64